# `train_ratings.csv` 로드해서 `RuleBase`  추천 결과 생성하기

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
train_df = pd.read_csv('../../data/train/train_ratings.csv') # 전체 학습 데이터

## 모든 사용자에게 동일하게 Most Popular 아이템 10개를 추천 결과로 제공

In [17]:
# most popular 10 items
num_users = train_df['user'].nunique()
mp_items = train_df['item'].value_counts().index.values # predictions

In [95]:
test_df = pd.DataFrame({'user':[],"item":[]})
for i in tqdm(train_df['user'].unique()):
    seen_item = train_df[train_df['user'] == i]['item'].unique()
    rec10 = mp_items[~np.isin(mp_items,seen_item)][:10]
    rec10_df = pd.DataFrame({'user':[i]*10,'item':rec10})
    test_df = pd.concat([test_df,rec10_df], ignore_index=True)

100%|██████████| 31360/31360 [02:40<00:00, 195.37it/s]

In [99]:
test_df = test_df.astype(int)
test_df['item'].unique().size

174

In [100]:
test_df

          user   item
0           11     47
1           11     50
2           11    858
3           11   8961
4           11   2329
...        ...    ...
313595  138493     50
313596  138493   1270
313597  138493  33794
313598  138493    858
313599  138493   3578

[313600 rows x 2 columns]

In [101]:
test_df.to_csv("output/most_popular_submission.csv", index=False)

## RuleBase